.service-section {
  background-color: rgba(0, 0, 0, 0.55);
  position: relative;
  background-image: url('path_to_image.jpg'); /* Ensure correct path */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  text-align: left; /* Align content to the left */
}

.service-section .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjusted for 5 items */
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1500px;
  position: relative;
  z-index: 2;
}

.service-section .section-heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  text-align: left; /* Left align the heading */
  grid-column: 1 / -1; /* Make the heading span across the whole container */
  padding-left: 20px; /* Ensure it has some space from the left edge */
}

.service-section .container .item {
  background-color: #81cef8;
  color: #fff;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.service-section .container .item:hover {
  background-color: #f0f0f0;
  color: #000000;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.service-section .container .item img {
  max-width: 50px;
  transition: transform 0.5s ease;
}

.service-section .container .item:hover img {
  transform: scale(1.2);
}

.service-section .container .item h3 {
  margin-top: 10px;
  transition: color 0.5s ease;
}

.service-section .container .item:hover h3 {
  color: #000000;
}

.service-section .container .item p {
  margin-top: 10px;
  font-size: 14px;
  color: #fffcfc;
  transition: color 0.5s ease;
}

.service-section .container .item:hover p {
  color: #666;
}

@media (max-width: 1000px) {
  .service-section .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .service-section .container {
    grid-template-columns: 1fr;
  }
}
